<div class="container">
    <h1>{{Notes.title}}</h1>

    <h2>Add Note:</h2>
    
    <form action="/articles/{{Notes._id}}" method="POST">
        <input id='titleinput' name='title'>
        <br />
        <textarea id='bodyinput' name='body'></textarea>
        <br />
        <input type="submit" />
    </form>

    <h2>Notes</h2>

    <div id="notes">
        {{#each Notes.Notes}}
            <div id="{{_id}}">
                <h2>{{title}}</h2>
                <p>{{body}}</p>
            </div>
        {{/each}}
    </div>
</div>